thead {
  font-size: 1.8rem;
  text-align: left;
}

table {
  width: 100%;
  height: 80vw;
}

table button {
  all: unset;
  font-size: xx-large;
  font-family: monospace;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
}

fieldset, form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

legend {
  font-weight: bold;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
label.horizontal {
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
}

button {
  padding: 0.5rem;
}

input {
  height: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: whitesmoke;
  font-family: monospace;
}

.card {
  border-radius: 0.5rem;
  background-color: white;
}

dialog {
  width: 80vw;
}

dialog::backdrop {
  background: rgb(0 0 0 / 25%);
}
